:root {
  box-sizing: border-box;
  --radius: 1em;
}
body * {
  box-sizing: inherit;
}
body {
  background: #447c92;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-weight: bold;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
p,
li {
  line-height: 1.4em;
}

header {
  background: #366873;
  border-radius: var(--radius) 0 var(--radius) 0;
  color: antiquewhite;
  margin-bottom: 1em;
  padding: 1em;
}
h3 {
  color: #f6ecec;
}
main {
  margin-right: -1em;
}
.media {
  background: #5ea4bf;
  border-radius: var(--radius) 0 var(--radius) 0;
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em 1em 1em 0;
}
.media:nth-child(odd) {
  clear: left;
}
@media screen and (min-width: 900px) {
  .media {
    width: calc(50% - 2em);
  }
}
.media__info {
  overflow: auto;
}
.media__image {
  float: left;
  width: 96px;
  margin: 1em;
}

.media__info__text {
  color: #def4f8;
}
